/*
@font-face {
	font-family: 'Avenir Next';
	src: url('../fonts/AvenirNext-Regular.eot');
	src: url('../fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext-Regular.woff') format('woff'),
		url('../fonts/AvenirNext-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('../fonts/AvenirNext-Medium.eot');
	src: url('../fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext-Medium.woff') format('woff'),
		url('../fonts/AvenirNext-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

*/

@font-face {
	font-family: 'Avenir Next Demi';
	src: url('../fonts/AvenirNext-DemiBold.eot');
	src: url('../fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext-DemiBold.woff') format('woff'),
		url('../fonts/AvenirNext-DemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir Next';
	src: url('../fonts/AvenirNext-Heavy.eot');
	src: url('../fonts/AvenirNext-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/AvenirNext-Heavy.woff') format('woff'),
		url('../fonts/AvenirNext-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.err {
	margin: 15px;
	color: white;
	font-weight: 100;
	font-size: 14px;
	margin-bottom: 30px;
}

textarea:focus, input:focus{
    outline: none;
}

html, body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}
@media only screen and (min-width: 1048px) {
  body {
    /* hide horizontal scroll bar in IE */
    overflow-x: hidden;
  }
}

a {
  color: #93a748;
  text-decoration: none;
}

/* --------------------------------

Main Components

-------------------------------- */
.cd-header {
  position: relative;
  height: 100%;
  background-color: #66CCFF;
  z-index: 1;
}
.relative-wrapper {
	position: static;
	width: 100%;
	height: 100%;
}
.closebt:hover {
	transform: rotate(90deg);
}
.closebt {
	transition: all 0.2s;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
}
#btn-close-modal {
	text-align: center;
	padding: 30px;
}
.modal-content {
	text-align: center;
	position: relative;
	transform: translateY(-25%);
	top: 25%;

}
.modal-content h1 {
	color: white;
	font-family: 'Avenir Next';
	font-weight: 900;
	font-size: 28px;
	margin-bottom: 60px;

}
#demo02 {
	font-family: 'Avenir Next';
	font-weight: 900;
	position: absolute;
	transform: translateX(-42%);
	left: 45%;
	bottom: 60px;
	color: white;
	letter-spacing: 2px;
	font-size: 11px;
	text-transform: uppercase;
	padding: 17px 30px;
	padding-top: 20px;
	background: rgba(0, 0, 0, .05);
}
#invite-form input {
	width: 80%;
	background: none;
	font-size: 24px;
	border: none;
	border-bottom: 1px solid white;
	color: white;
	font-weight: 100;
	padding: 10px 0;
  text-align: center;
}
#invite-form button {
	border: none;
	background: none;
	color: white;
	font-family: 'Avenir Next';
	font-weight: 900;
	font-size: 24px;
	outline: none;
	cursor: pointer;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background: none!important;
}
#logo {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
}
#foot {
  color: white;
  text-align: center;
  background: #607D8B;
  padding: 5% 0;
}

#foot h2 {
  letter-spacing: 1px;
  font-weight: 900;
  font-size: 2rem;
  margin: 0;
}
.cd-header h1 {
  font-family: 'Avenir Next';
  width: 90%;
  color: white;
  font-weight: 900;
  text-align: center;
  font-size: 3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#launch {
  font-family: 'Avenir Next Demi';
  font-weight: 600;
  font-size: 2rem;
  display: block;
  margin-top: 15px;
}

@media only screen and (min-width: 768px) {
  .cd-header h1 {
    font-size: 6rem;
    font-weight: 900;
  }
  #launch {
    font-family: 'Avenir Next Demi';
    font-weight: 600;
    font-size: 3.5rem;
    display: block;
    margin-top: 30px;
  }
  #logo {
    height: 80px;
  }
  #foot h2 {
    font-size: 3rem;
  }
}

.cd-fixed-background {
  position: relative;
  padding: 3em 5% 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
	float: left;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.cd-fixed-background h2, .cd-fixed-background p {
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-fixed-background h2 {
  font-family: 'Avenir Next';
  font-size: 3.5rem;
  line-height: 50px;
  font-weight: 900;
  letter-spacing: 1.5px;
  margin-bottom: 1em;
}
.cd-fixed-background p {
  line-height: 1.6;
  font-family: "Merriweather", serif;
}
.cd-fixed-background .light-background h2, .cd-fixed-background .light-background p {
  color: #0f594d;
}
.cd-fixed-background .cd-content::after {
  /* phone image on small devices */
  content: '';
  display: block;
  width: 100%;
  padding: 60% 0;
  margin: 2em auto 0;
}
.cd-fixed-background.img-1 {
  background-color: #EF5350;
}
.cd-fixed-background.img-1 .cd-content::after {
  background: url("../img/img-mobile-1.png") no-repeat;
  background-size: 100% auto;
}
.cd-fixed-background.img-2 {
  background-color: #7E57C2;
}
.cd-fixed-background.img-2 .cd-content::after {
  background: url("../img/img-mobile-2.png") no-repeat;
  background-size: 100% auto;
}
.cd-fixed-background.img-3 {
  background-color: #FAA425;
}
.cd-fixed-background.img-3 .cd-content::after {
  background: url("../img/img-mobile-3.png") no-repeat;
  background-size: 100% auto;
}
.cd-fixed-background.img-4 {
  background-color: #db9537;
}
.cd-fixed-background.img-4 .cd-content::after {
  background-size: 50% auto;
}
@media only screen and (min-width: 768px) {
	#demo02 {
		font-size: 16px;
		transform: translateX(-50%);
		left: 50%;
	}
	.modal-content h1 {
		font-size: 48px;
	}
	#invite-form input {
		width: 35%;
		font-size: 32px;
	}
  .cd-fixed-background {
    height: 100%;
    padding: 0;
  }
  .cd-fixed-background h2 {
    font-size: 6rem;
    line-height: 70px;
    font-weight: 900;
    letter-spacing: 1.5px;
  }
  .cd-fixed-background p {
    font-size: 1.8rem;
    line-height: 1.8;
  }
  .cd-fixed-background .cd-content {
    width: 50%;
    position: absolute;
    left: 5%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .cd-fixed-background .cd-content::after {
    display: none !important;
  }
  .cd-fixed-background.img-1 {
    background-image: url("../img/img-1.jpg");
  }
  .cd-fixed-background.img-2 {
    background-image: url("../img/img-2.jpg");
  }
  .cd-fixed-background.img-3 {
    background-image: url("../img/img-3.jpg");
  }
  .cd-fixed-background.img-4 {

  }
}
@media only screen and (min-width: 1048px) {
  .cd-fixed-background {
    background-attachment: fixed;
  }
  .cd-fixed-background .cd-content {
    width: 40%;
    left: 10%;
  }
}

.cd-vertical-nav {
  position: fixed;
  z-index: 2;
  right: 3%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: transparent url(../img/cd-icon-arrow.svg) no-repeat center center;
  -webkit-transition: opacity 0.2s 0s, visibility 0.2s 0s;
  -moz-transition: opacity 0.2s 0s, visibility 0.2s 0s;
  transition: opacity 0.2s 0s, visibility 0.2s 0s;
}
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 1200px) {
  .cd-vertical-nav {
    display: block;
  }
}

.no-js .cd-vertical-nav {
  display: none;
}
