*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}
@media only screen and (min-width: 1048px) {
  body {
    /* hide horizontal scroll bar in IE */
    overflow-x: hidden;
  }
}

a {
  color: #93a748;
  text-decoration: none;
}

.cd-header {
  position: relative;
  height: 100%;
  background-color: #59CEEC;
  z-index: 1;
}

#logo {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  height: 70px;
}

.cd-header h1 {
  width: 90%;
  color: white;
  font-weight: 900;
  text-align: center;
  font-size: 5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 50%;
  top: 30%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.cd-header label {
  width: 90%;
  color: white;
  font-weight: 900;
  text-align: center;
  font-size: 2.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 50%;
  top: 60%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.cd-header input {
  text-align: left;
  padding: 4px;
  width: 300px;
  padding: 5px;
  outline: none;
  height: 35px;
  border: 1px solid #eee;
  border-radius: 2px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 50%;
  top: 68%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.cd-header button {
  padding: 0;
  color: #fff;
  border: 0;
  border-radius: 2px;
  background-image: -webkit-linear-gradient(#6e4ea7, #6e4ea7);
  background-image: linear-gradient(#6e4ea7, #6e4ea7);
  background-color: #569e3d;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-align: center;
  padding: 4px;
  width: 100px;
  font-size: 2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 50%;
  top: 74%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}


.cd-header button:hover, button:focus {
  background-image: -webkit-linear-gradient(#7E57C2, #7E57C2);
  background-image: linear-gradient(#7E57C2, #7E57C2);
}